<html>
	<head>
		<meta charset="UTF_8">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
		<title> Denuncia </title>
		<link rel="shortcut icon" href="{{ url_for('static', filename='imagens/imagem.png') }}">
		<link href="{{ url_for('static', filename='CSS/Denuncia.css') }}" rel="stylesheet" type="text/css">
		
	</head>

	<body>
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
			<a class="nav-item nav-link disabled" href="#" tabindex="-1" aria-disabled="true" style="color: white;"><h5>Report It</h5></a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active">
						<button><a class="btn btn-outline-success my-2 my-sm-0" href="/logout" type=""> Sair </a></button>
					</li>
				</ul>
			</div>
		</nav>

		<form method="POST">
			<h1 id="titulo"><b>FAÇA SUA DENUNCIA</b></h1>
			<div id = "meio">

				{{ form.hidden_tag() }}
				<b>{{ form.nome.label }}</b><br>
				{{ form.nome(class_="conteudo") }}<br>
				<b>{{ form.sobrenome.label }}</b><br>
				{{ form.sobrenome(class_="conteudo") }}<br>
				<b>{{ form.cpf.label }}</b><br>
				{{ form.cpf(class_="conteudo") }}<br>
				<b>{{ form.bairro.label }}</b><br>
				{{ form.bairro(class_="conteudo") }}<br>
				<b>{{ form.rua.label }}</b><br>
				{{ form.rua(class_="conteudo") }}<br>
				<b>{{ form.cidade.label }}</b><br>
				{{ form.cidade(class_="conteudo") }}<br>
				<b>{{ form.estado.label }}</b><br>
				{{ form.estado(class_="conteudo") }}<br>
				<b>{{ form.pais.label }}</b><br>
				{{ form.pais(class_="conteudo") }}<br>
				<b>{{ form.idade.label }}</b><br>
				{{ form.idade(class_="conteudo") }}<br>
				<b>{{ form.telefone.label }}</b><br>
				{{ form.telefone(class_="conteudo") }}<br>
				<b>{{ form.email.label }}</b><br>
				{{ form.email(class_="conteudo") }}<br>
				<b>{{ form.pergunta1.label }}</b><br>
				{{ form.pergunta1(class_="conteudo") }}<br>
				<b>{{ form.pergunta2.label }}</b><br>
				{{ form.pergunta2(class_="conteudo") }}<br><br>
				
				{{ form.botao(class_="butao") }}<br>
			</div>
		</form>
	</body>	
</html>