<html>
	<head>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
		<meta charset="utf-8"/>
		<title> Perfil </title>
        <link rel="shortcut icon" href="imagens/imagem.png">
        <link href="{{ url_for('static', filename='CSS/Perfil.css') }}" rel="stylesheet" type="text/css">
	</head>
	<body>
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
			<a class="nav-item nav-link disabled" href="#" tabindex="-1" aria-disabled="true" style="color: white;"><h5>Report It</h5></a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>	  
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active">
						<a class="nav-link" href="/login"><h5> Voltar </h5><span class="sr-only">(current)</span></a>
					</li>
				</ul>
			</div>
		</nav>

		<!--<script language="javascript" src="{{ url_for('static', filename='JS/Cadastro.js') }}"></script>-->

		<form method="POST">
			<h2 id="titulo">Crie Seu Perfil</h2></br>
			<div id = "meio">
				{{ form.hidden_tag() }}
				{{ form.nome.label }}<br>
                {{ form.nome }}<br>
                {{ form.sobrenome.label }}<br>
                {{ form.sobrenome }}<br>
                {{ form.cpf.label }}<br>
				{{ form.cpf }}<br>
				{{ form.email.label }}<br>
				{{ form.email }}<br>
				
				{{ form.botao }}
	
				<!--<table >
					<tr> <td> <h5 class="corl">Usuario</h5> </td> <td> <h5><input type="text" id="usuario"/></h5> </td> </tr>
					<tr> <td> <h5 class="corl">Senha</h5> </td> <td> <h5><input type="password" id="senha"/></h5> </td> </tr>
					<tr> <td> <h5 class="corl">Email</h5> </td> <td> <h5><input type="email" id="email"/></h5> </td> </tr>
				</table>-->
			</div></br>
		</form>
		<!--<p id="butao"><input  type="submit" onclick = "validacao()"/></p>-->

	</body>
</html>